
.box-video video{ 
    margin-left: 15%;
    width: 70%; 
}

.box-video{
    background-image: url("/imgs/nuvem_inicio_bg.png")!important;
    background-repeat: no-repeat;
    background-size: cover !important;
    margin-top: 10%;
}
.bgSombraFog {
    background-image: url("/imgs/Sombra_img.svg"); 
    background-repeat: no-repeat;
    background-size:;
    z-index: 1;
}

#main-header{
    font-family: 'roboto', sans-serif, white;   
    text-align: left;
    padding-top: 80px;
    /*faixas superiores*/
    /*background-image: url("/imgs/Faixas_coloridas.svg"); 
    background-repeat: no-repeat;
    background-size: 60px 1200px;
    background-position: 200px 30px;
    .bgFaixasUp{
    background-image: url("/imgs/Faixas_coloridas.svg"); 
    background-repeat: no-repeat;
    background-size: 4.5%;
    background-position: 15% 5%;
    z-index: 1;
}*/
}

#welcome {
    background-color: #ddd;
}
.frasesInsp{
    font-family: 'roboto light', sans-serif;
    color: #585858;
    font-size: 16px;
    text-align: left;
    padding: 300px;
    padding-top: 100px;

}

#frase {
    font-family: 'roboto', sans-serif;
    color: white;
    font-size: 500%;
    font-style: bold;
    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
}
#frase2{
    font-size: 550%;
    text-align: right;
    margin-top: 30%;
    margin-right: 10%;
}
#frase3{
    font-size: 550%;
    font-style: bold;
    text-align: right;
    margin-right: 10%;
}
#frase4{
    font-size: 200%;
    font-style: bold;
    text-align: right;
    margin-right: 10%;
}
.box-logo img{
    background-image: url("/imgs/EP_logo_01.svg"); 
    width: 15%;
    margin-left: 10%;
    margin-top: 5%;
}
.box-logo{
    background-image: url("/imgs/terra-06.png"); 
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 100% 100%;
}

.bgCor{
    background-color: black;
    /*z-index: 0;*/
    /*background-position: right top;*/
    display: block;
    /*background-attachment: fixed;*/
}
.bgEstrelas{
    background-image: url("/imgs/estrelas_bg-08.png"); 
    position: absolute;
    z-index: 1;
}

h1, h2, h3 {
    text-align: center;
}

.bgFaixasDown{
    background-image: url("/imgs/Faixas_coloridas.svg") ;
    background-repeat: no-repeat;
    background-size: 10% 18.5%;
    background-position: 135px 500px;
    z-index: 2;
    position:relative;
}

.bgLua{
    background-image:  url("/imgs/Faixas_coloridas.svg"), url("/imgs/estrelas_bg-08.png"); 
    background-repeat:  no-repeat, no-repeat;
    background-position: 135px 500px, auto;
    background-size:  10% 18.5%, auto;
 

}

.nav-estiloWelcome {
    color: white;
    width: 112.5px;
    padding-right: 55px;
    padding-left: 55px;
    font-size: 25px;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin-right: 100px;
}

.FaixasNav{
    background-image: url("/imgs/Faixas_coloridas.svg"); 
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 200px -580px;
    margin-top:0;
}

.autores{
    text-align: right;
    font-style: italic;
    font-family: 'Roboto Thin';
    margin-right: 100px;

}

.box-pbl{
    width: 100%;
    height: 800px;
    background-color: #CCCCCC;
    background-position: 200% 100%;
    line-height: 100px;
} 

.pbl {
    padding-top: 100px;
    font-size: 80px;
    color: #4D4D4D;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;

}
.flex-container {
    display: flex;
    padding-top: 150px;

  }

  .pblNumeros p{
      font-size: 30px;
      padding-left: 30px;
      margin: 0;
  }

  .pblEtapas h3{
      font-size: 20px;
      margin: 10;
  }