
.conteudoEquipe {
    display: flex;
    width: 80%;
}

.conteudoEquipe-foto {
    flex: 30%;
    padding: 10px;
}

.conteudoEquipe-informacoes {
    flex: 70%;
    padding: 10px;
    margin-left: 10%;
}

.conteudoEquipe-nome{
	font-family: 'roboto', sans-serif;
	font-weight: medium;
	font-size: 45px;
	text-align: left;	
}

.conteudoEquipe-texto {
    font-family: 'roboto',sans-serif;
    font-weight: 300;
	font-size: 15px;
    margin-top: 10px;
    text-align: justify;
}

.conteudoEquipe-links {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

