/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .row {   
        flex-direction: column;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
/* Sidebar/left column */
.side {
    flex: 30%;
    /*background-image: url('/imgs/equipe/pierre_1.gif');
    background-size: 250px 250px;
    background-repeat:no-repeat;*/
    padding: 10px;
}

/* Main column */
.main {
    flex: 70%;
    padding: 10px;
}

