.cardFrases-Welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

.conteudoFrases-Welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textoFrases-Welcome {
    display: flex;
    flex-direction: column;
}




/*
.mainHeader{
    display: flex;
    justify-content: space-around;

}



.mainArticle {
    display: flex;
    justify-content: space-between;
}

.mainAside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bgFlex{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainContainer{
    display: flex;
}

.VideoContainer{
    display: flex;
    align-self: flex-start;
    width: 100%;

}
*/