@media(max-width: 768px) {

    .conteudoPrincipal-projetos {
		flex-direction: column;
	}

	.conteudoPrincipal-projetos-link {
		width: 100%;
    }
    
    .container {
        width: 100%;	
        margin: 0;
        padding: 0;
	}

	.subtitulo {
		text-align: left;
    }
    
    .conteudoEquipe {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .conteudoEquipe-informacoes {
        margin: 0;
    }
    .conteudoEquipe-links {
        flex-direction: column;
        height: 120px;
        width: 100%;
    }

    .rodape-container {
        flex-direction: column;
    }

    .rodape-texto .subtitulo {
        font-size: 15px;
    }

    .rodape-logos {
        flex-direction: column;
    }
    .logos { 
        margin: 5%;
    }

    .text-projetos {
        font-size: 15px;
    }

    .conteudoEquipe-nome {
        text-align: center;
    }

    .conteudoEquipe-texto {
        font-size: 15px;
    }


}